@model List<MyWebsite.Model.GolfCompetition>
@using MyWebsite.Model;

@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<h2>Golf Home</h2>

<br />

<div>
    @foreach (var item in Model)
    {
        <div>
            <p>
                @Html.DisplayFor(modelItem => item.Date) - @Html.DisplayFor(modelItem => item.Title)
            </p>
            <br />
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>
        </div>
    }

</div>