@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to my website.</h1>
    <p class="lead">I created this website primarily to get more experience in website development / deployment, including technologies like 
    ASP.NET MVC, Entity Framework, GitHub, HTML, CSS and JavaScript.</p>

    <p class="lead">
        It also provides me with a source for a blog, document of my travels, both where I have been and places I would like to visit.               
    </p>

    <p class="lead">        
        I will also use this website to describe in detail the progess of my favourite hobby, golf!!! Given details of each season, any
        notable rounds / shots and progress in tournaments
    </p>

</div>

